*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

/* .page section:not(section:last-child) {
  margin-bottom: 3rem;
} */

/*** Header ***/
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.top-bar span {
  white-space: nowrap;
}

.logo {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.top-bar__right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.top-bar__location {
  display: none;
}

/* Available status */
.top-bar__status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
}

/* Status Dot with Pulse Animation  */
.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #30cd41;
  position: relative;
}

.status-dot::before,
.status-dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 2s infinite linear;
  opacity: 0.3;
}

.status-dot::after {
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

.nav__icons {
  display: flex;
  gap: 0.5rem;
}

.nav__icons svg {
  color: var(--black);
  transition: all 0.2s ease;
  user-select: none;
}

.nav__icons svg:hover {
  color: var(--light-orange);
  text-shadow: 2px 2px 4px rgba(249, 211, 180, 0.8),
    /* orange-ish shadow below */ -2px -2px 4px rgba(255, 250, 245, 0.9); /* beige highlight above */
  transform: translateY(1.5px) scale(0.98);
}

.nav__icons button {
  background: none;
  border: none;
  box-shadow: none;
}

/*** Hero ***/
.hero {
  /* margin: 0 0 2rem; */
  position: relative;
}
.hero h1 {
  font-size: 4.34rem;
  margin-bottom: 1.5rem;
  color: var(--light-orange);
}

.hero__subline {
  display: flex;
  justify-content: space-between;
}
.hero__subline span {
  font-weight: 600;
  font-size: 1.333rem;
  letter-spacing: -0.5px;
}

.hero-main-wrapper {
  position: relative;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 20px; */
  overflow-y: auto;
  gap: 1rem;
}

/*** Main Section ***/
.main-section {
  margin: 0 -7%;
  padding: 4rem 7% 0;
  background-color: var(--light-orange);
}

.about.project-card {
  padding: 2rem;
}

.projects__title {
  font-size: 4rem;
  color: var(--dark-orange);
  margin-bottom: 3rem;
  text-align: center;
}

.project-card__thumb {
  background-color: gray;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}

.project-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.project-card__tag {
  border: solid var(--black) 1.5px;
  padding: 0.3rem;
  border-radius: 5px;
  margin: 0;
  text-transform: uppercase;
}

.project-card {
  background: var(--light-orange) !important;
  border-radius: 20px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12),
    0px 1px 10px 10px rgba(0, 0, 0, 0.06);
  padding: 16px;
  z-index: 1;
  position: relative;
}

.projects a {
  text-transform: inherit;
  background: none;
}

/* Grid Setup */
.projects__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

/* Move to Desktop Media Query */

/* .projects__grid{
      display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 4rem;
    row-gap: 3rem;
}

.project-card:nth-child(even) {
  margin-top: 2rem;
} */

/*** Footer ***/
footer {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 3rem;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.date_time span {
  color: var(--light-orange);
}

.footer__copy {
  font-weight: 500;
}
