:root {
  --beige: #f9f3ea;
  --black: #3c3c3c;
  --dark-orange: #b5642e;
  --light-orange: #e28743;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: var(--black);
  background-color: var(--beige);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s ease;
  background: linear-gradient(0deg, #0e0e0e, #0e0e0e) no-repeat right bottom / 0
    2px;
  transition: background-size 0.25s, color 0.2s ease;
  padding-bottom: 2px;
}

/* :where() is a CSS pseudo-class that lets you group selectors together.*/
a:where(:hover, :focus-visible) {
  color: var(--black);
  background-size: 100% 2px;
  background-position-x: left;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 6% !important;
}

/* Typography(Perfect fourth) */
h1 {
  font-size: 3.157rem; /* 51px */
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -0.8px;
}
h2 {
  font-size: 2.369rem; /* 38px */
  line-height: 1.15;
  font-weight: 700;
  margin: 0 0 1.25rem;
  letter-spacing: -0.8px;
}
h3 {
  font-size: 1.6rem; /* 28px */
  line-height: 1.25;
  font-weight: 700;
  margin: 0;
  letter-spacing: -1px;
}
h4 {
  font-size: 1.333rem; /* 21px */
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -1px;
}
p {
  font-size: 1rem; /* 16px */
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: -0.2px;
}

button {
  box-shadow: inset 0 0 0 2px var(--black);
  border: none;
  border-radius: 11px;
  background-color: var(--black);
  padding: 0;
  cursor: pointer;
}
.btn-face {
  font-family: "Work Sans", sans-serif;
  font-weight: 700 !important;
  font-size: 1rem;
  margin: 0;
  letter-spacing: 0.5px !important;
  text-transform: uppercase;
  display: block;
  border-radius: 10px;
  padding: 0.55rem 1rem;
  text-align: center;
  background-color: var(--beige);
  color: var(--black);
  border: 3px solid var(--black);
  transform: translateY(-4px);
  transition: transform 0.2s ease;
}
.btn-face:where(:hover, :active) {
  transform: translateY(0px); /* your \"shadow\" look */
}
